astroid==2.4.2
attrs==20.3.0
aws-sam-translator==1.33.0
aws-xray-sdk==2.6.0
backports.shutil-get-terminal-size==1.0.0
boto==2.49.0
boto3==1.16.50
botocore==1.19.50
certifi==2020.12.5
cffi==1.14.4
cfn-lint==0.44.2
chardet==4.0.0
cryptography==3.3.1
dataclasses-jsonschema==2.13.0
decorator==4.4.2
docker==4.4.1
dulwich==0.20.15
ecdsa==0.14.1
future==0.18.2
idna==2.10
iniconfig==1.1.1
isort==5.7.0
Jinja2==2.11.2
jmespath==0.10.0
jsondiff==1.2.0
jsonpatch==1.28
jsonpickle==1.4.2
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mock==2.0.0
more-itertools==8.6.0
moto==1.3.16
mypy-extensions==0.4.3
networkx==2.5
packaging==20.8
pbr==5.5.1
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.1
python-dateutil==2.8.1
python-jose==3.2.0
pytz==2020.5
PyYAML==5.3.1
reprint==0.5.2
requests==2.25.1
responses==0.12.1
rsa==4.6
s3transfer==0.3.3
six==1.15.0
sshpubkeys==3.1.0
tabulate==0.8.7
taskcat==0.9.21
toml==0.10.2
urllib3==1.26.2
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
yattag==1.14.0
zipp==3.4.0
